<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device"content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="copyright" content="Copyright © 2018 jxwanhe.com. All rights reserved.">
    <title>商家中心-皇品国际</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <script type="text/javascript" src="themes/global/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="themes/global/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="themes/global/layer/layer.js"></script>
    <script type="text/javascript" src="themes/site.js"></script>

    <link rel="stylesheet" type="text/css" href="themes/global/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/bootstrap/coolc_site.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/animsition/animsition.css">
    <link rel="stylesheet" type="text/css" href="themes/global/coolcfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/base/base.css" />
</head>
<body>
<div class="head_top">
    <div class="w1200">
        <div class="pull-left">
            <a href="#" class="logo"></a>
            <a href="#" class="btn btn-outline btn-default btn-round">返回商城</a>
        </div>
        <div class="pull-right">
            <ul>
            <li class="text"><a href="">站内信<span>10</span></a></li>
            <li class="text"><a href="">规则中心</a></li>
            <li class="text"><a href="">帮助中心</a></li>
            <li class="photo">
                <span class="avatar avatar-online">
                    <img src="http://cdn.admui.com/demo/iframe/2.0.0/images/portraits/5.jpg" alt="...">
                    <i></i>
                </span>
                <div class="info_text">
                    <p>GUCCI旗舰店</p>
                    <span class="btn btn-xs btn-default btn-outline btn-round">退出管理</span>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>

<div class="body_box">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">控制台主页</a>
        </li>
    </ol>

    <div class="left_menu">
        <ul>
            <li class="nav-item">
                <a href="index.html"><i class="coolc nav-icon icon-kongzhitai"></i><span>控制台主页</span></a>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-fahuo"></i><span>发货管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="order.html"><span>订单列表</span></a></li>
                    <li><a href="to_order.html"><span>待发货订单</span></a></li>
                    <li><a href="freight.html"><span>运费模板</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shouhou"></i><span>售后管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="refund.html"><span>退款/售后</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shangpin"></i><span>商品管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="goods_edit.html"><span>发布商品</span></a></li>
                    <li><a href="goods_list.html"><span>商品列表</span></a></li>
                    <li><a href="goods_data.html"><span>商品数据</span></a></li>
                    <li><a href="comment_list.html"><span>评价管理</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-gift"></i><span>店铺营销</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="activities.html"><span>营销活动</span></a></li>
                    <li><a href="group.html"><span>团购活动</span></a></li>
                    <li><a href="take_activities.html"><span>可参与的活动</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-9"></i><span>资金管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li class="active"><a href="account.html"><span>帐户余额</span></a></li>
                    <li><a href="withdrawal.html"><span>提现明细</span></a></li>
                    <li><a href="bank.html"><span>提现银行卡</span></a></li>
                    <li><a href="bond.html"><span>保证金管理</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shezhi"></i><span>店铺设置</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="set_shop.html"><span>店铺设置</span></a></li>
                    <li><a href="renovation.html"><span>店铺装修</span></a></li>
                    <li><a href="brand_info.html"><span>品牌资料</span></a></li>
                    <li><a href="customer.html"><span>客服设置</span></a></li>
                    <li><a href="password.html"><span>修改密码</span></a></li>
                    <li><a href="invoice.html"><span>发票管理</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="right_content">
        <div class="right_bg">
            <div class="title"><span>帐户余额</span></div>
            <div class="list_box">
                <div class="account_page">
                    <div class="account_top_box">
                        <div class="keyong_amount">
                            <div class="ribbon ribbon-bookmark ribbon-danger">
                                <span class="ribbon-inner">帐户余额</span>
                            </div>
                            <div class="amount"><span>¥</span><b>99,99000</b></div>
                            <div class="btn-group btn-group-sm">
                                <a href="#" class="btn btn-outline btn-danger">提现到银行卡</a>
                                <a href="#" class="btn btn-outline btn-danger">绑定银行卡</a>
                            </div>
                        </div>
                        <div class="nokeyong_amount">
                            <div class="ribbon ribbon-bookmark">
                                <span class="ribbon-inner">不可用余额</span>
                            </div>
                            <div class="amount"><span>¥</span><b>16,99000</b></div>
                            <a href="" class="tips_ask">什么是不可用余额？</a>
                        </div>
                    </div>

                    <div class="tabs_right_box">
                        <ul>
                        <li class="active"><a href="">收入明细</a></li>
                        <li><a href="">提现明细</a></li>
                        </ul>
                    </div>
                    <table class="table">
                        <colgroup>
                            <col style="width:14%;">
                            <col style="width:16%;">
                            <col />
                            <col style="width:9%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>订单编号</th>
                            <th>收入由来</th>
                            <th>金额</th>
                        </tr>
                        
                        </thead>
                        <tbody>
                        <tr>
                            <td>2016/12/12 01:56</td>
                            <td>259702829638297206</td>
                            <td>用户[1]liuyunxh使用余额支付购买，订单[20170406111737616494]，金额：+1209元</td>
                            <td>
                                <span class="text-success">¥1209</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="page_bottom_box">
                        <ul class="pagination pagination-gap">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:;" aria-label="上一页"><span aria-hidden="true">«</span></a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:;">1<span class="sr-only">当前</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" aria-label="下一页"><span aria-hidden="true">»</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer_box">
    <div class="w1200">
        <p><span>站长图库</span><span>地址:广州市番禺区番禺大道北60-1号</span><a href="#">赣ICP备13003407号</a></p>
        <p>Copyright © 2018 <a href="#">www.zztuku.com</a>, All Rights Reserved</p>
    </div>
</div>
</body>
</html>
