<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device"content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="copyright" content="Copyright © 2018 jxwanhe.com. All rights reserved.">
    <title>商家中心-皇品国际</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <script type="text/javascript" src="themes/global/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="themes/global/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="themes/global/layer/layer.js"></script>
    <script type="text/javascript" src="themes/site.js"></script>

    <link rel="stylesheet" type="text/css" href="themes/global/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/bootstrap/coolc_site.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/animsition/animsition.css">
    <link rel="stylesheet" type="text/css" href="themes/global/coolcfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="themes/global/base/base.css" />
</head>
<body>
<div class="head_top">
    <div class="w1200">
        <div class="pull-left">
            <a href="#" class="logo"></a>
            <a href="#" class="btn btn-outline btn-default btn-round">返回商城</a>
        </div>
        <div class="pull-right">
            <ul>
            <li class="text"><a href="">站内信<span>10</span></a></li>
            <li class="text"><a href="">规则中心</a></li>
            <li class="text"><a href="">帮助中心</a></li>
            <li class="photo">
                <span class="avatar avatar-online">
                    <img src="http://cdn.admui.com/demo/iframe/2.0.0/images/portraits/5.jpg" alt="...">
                    <i></i>
                </span>
                <div class="info_text">
                    <p>GUCCI旗舰店</p>
                    <span class="btn btn-xs btn-default btn-outline btn-round">退出管理</span>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>

<div class="body_box">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">控制台主页</a>
        </li>
    </ol>

    <div class="left_menu">
        <ul>
            <li class="nav-item">
                <a href="index.html"><i class="coolc nav-icon icon-kongzhitai"></i><span>控制台主页</span></a>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-fahuo"></i><span>发货管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="order.html"><span>订单列表</span></a></li>
                    <li><a href="to_order.html"><span>待发货订单</span></a></li>
                    <li><a href="freight.html"><span>运费模板</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shouhou"></i><span>售后管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="refund.html"><span>退款/售后</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shangpin"></i><span>商品管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="goods_edit.html"><span>发布商品</span></a></li>
                    <li><a href="goods_list.html"><span>商品列表</span></a></li>
                    <li><a href="goods_data.html"><span>商品数据</span></a></li>
                    <li><a href="comment_list.html"><span>评价管理</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-gift"></i><span>店铺营销</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li class="active"><a href="activities.html"><span>营销活动</span></a></li>
                    <li><a href="group.html"><span>团购活动</span></a></li>
                    <li><a href="take_activities.html"><span>可参与的活动</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-9"></i><span>资金管理</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="account.html"><span>帐户余额</span></a></li>
                    <li><a href="withdrawal.html"><span>提现明细</span></a></li>
                    <li><a href="bank.html"><span>提现银行卡</span></a></li>
                    <li><a href="bond.html"><span>保证金管理</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="coolc nav-icon icon-shezhi"></i><span>店铺设置</span><i class="coolc nav-more"></i></a>
                <ul>
                    <li><a href="set_shop.html"><span>店铺设置</span></a></li>
                    <li><a href="renovation.html"><span>店铺装修</span></a></li>
                    <li><a href="brand_info.html"><span>品牌资料</span></a></li>
                    <li><a href="customer.html"><span>客服设置</span></a></li>
                    <li><a href="password.html"><span>修改密码</span></a></li>
                    <li><a href="invoice.html"><span>发票管理</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="right_content">
        <div class="right_bg">
            <div class="title"><span>营销活动</span></div>

            <div class="activities_list">
                <ul>
                <li style="border-bottom:none;">
                    <div class="activities_bg">
                        <div class="name">时髦精-骚包-每周二上新专场【新】</div>
                        <div class="time"><span>报名剩余</span><em>1天2小时</em></div>
                    </div>
                    <div class="activities_right">
                        <div class="name">时髦精-骚包-每周二上新专场【新】<span class="badge badge-round badge-success">免费</span></div>
                        <div class="info_text_new">时髦精-骚包-每周二 上新专场 箱包时髦精活动规划：https://xiangbao.bbs.taobao.com/detail.html?spm=a210m.7799463.0.0.9bad4dc5R9sKX5&postId=8 箱包红人招商入口：https://yingxiao.taobao.com/content/n_content_detail.htm?contentId=4925580</div>
                        
                        <div class="activities_step">
                            <dl>
                            <dt><span>招商</span><p>2018/12/17 00:00 - 2018/12/18 16:59</p></dt>
                            <dt><span>活动开始</span><p>2018/12/17 00:00</p></dt>
                            <dt><span>活动结束</span><p>2018/12/20 00:00</p></dt>
                            </dl>
                        </div>

                        <div class="tips_info_box">
                            <b>招商范围</b>
                            <p>箱包、钱包、卡包可参与活动</p>
                        </div>
                        <div class="tips_info_box">
                            <b>活动规则</b>
                            <p>当前活动审核通过后<span class="text-danger">不可撤销报名</span></p>
                        </div>
                        <div class="btn_text">
                            <a href="activities_info.html" class="btn btn-dark btn-lg btn-round">立即报名</a>
                            <span>已报名：1082</span>
                        </div>
                    </div>
                </li>
                </ul>
            </div>

            <script type="text/javascript">$(document).ready(function(){cutover("tab_box",'1');});</script>
            <div id="tab_box">
                <div class="tabs_right_box" id="tabContainer" style="margin-bottom:0px;">
                    <ul>
                    <li class="active"><a href="">活动介绍</a></li>
                    <li><a href="">规则&资质</a></li>
                    </ul>
                </div>
                <div class="panelContainer">
                    <div class="paragraph">
                        <div class="paragraph_step">
                            <dl>
                            <dt>招商类目：时尚生活</dt>
                            <dt>活动类型：营销活动</dt>
                            <dt>报名形式：商品</dt>
                            <dt>收费方式：免费</dt>
                            </dl>
                        </div>

                        <p>活动背景与简介：</p>
                        <p>50字以内，主要描述活动背景、活动招商对象与活动简介</p>
                        
                        <p>活动主要利益点：</p>
                        <p>50字以内，描述活动优势，针对的人群，主要利益点与活动为报名者提供的提升</p>
                        
                        <p>活动投放区域：</p>
                        <p>主要描述活动将投放的区域，如投放在淘宝首焦、淘宝全球购首页右侧边栏等，让报名者明确活动投放重点</p>
                        
                        <p>活动报名要求：</p>
                        <p>主要描述活动素材图片内容要求、商品要求（如库存、折扣率、品牌等）</p>
                    </div>
                    <div class="paragraph" style="display:none;">2222</div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="footer_box">
    <div class="w1200">
        <p><span>站长图库</span><span>地址:广州市番禺区番禺大道北60-1号</span><a href="#">赣ICP备13003407号</a></p>
        <p>Copyright © 2018 <a href="#">www.zztuku.com</a>, All Rights Reserved</p>
    </div>
</div>
</body>
</html>
